.infoBar {
  display: flex;
  justify-content: space-around;
}

.authorInfo {
  width: 300px;
  height: 120px;
}

.avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.active :focus {
  outline: none;
}
