.App {
  text-align: center;
}
.navbar {
  padding: 5px;
}
.navbar-brand {
  p {
    font-weight: 600;
    color: #5cb85c;
    font-size: 25px;
    margin: 10px 10px;
  }
}

.active {
  background: #ff6d6d !important ;
}


   
.banner {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #5cb85c;
  padding: 40px;

  h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 500;
  }
  p {
    color: white;
    font-size: 1.5rem;
  }
}

// Loader Css
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(16, 200, 191);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
