.App {
  text-align: center;
}
.navbar {
  padding: 5px;
}
.navbar-brand {
  p {
    font-weight: 600;
    color: #5cb85c;
    font-size: 25px;
    margin: 10px 10px;
  }
}

.banner {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #5cb85c;
  padding: 40px;

  h1 {
    font-size: 3.5rem;;
    color: white;
    font-weight: 500;
  }
  p {
    color: white;
    font-size: 1.5rem;
  }
}
